services:
  rfid_access:
    build:
      context: ./rfid-access-service
    env_file:
      - ./rfid-access-service/.env
    environment:
      - MQTT_HOST=${MQTT_HOST:-localhost}
      - MQTT_PORT=${MQTT_PORT:-1883}
      - MQTT_USER=${MQTT_USER:-Horizon@user2024}
      - MQTT_PASS=${MQTT_PASS:-Chanel_horizon@2024}
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "3"
    networks:
      - rfid_access_net

networks:
  rfid_access_net:
    driver: bridge
